body{
	margin: 0;
	padding: 0;
	font-family:  'calibri light';
}

 /*----linea primera o pequeña-----*/
#linea{
	width: 100%;
	height: 18px;
	background: #a56d5d ;
 /*----linea segunda o grande-----*/
}
#header{
	 width: 100%;
	 height: 90px;
	 background:#3BB9FF;
}

#header #centro1{
	width: 800px;
	height: auto;overflow: hidden;
	border: 0px solid;
	margin: auto;
}

#header #centro1 #logo{
	width: 200px;border: 0px solid;
	float: left;
}


#header #centro1 #logo h2,p{
	color: #fff;
}
#header #centro1 #logo p{
	margin-top: - 20px;
}

 /*----menu-----*/

 #header #menu{
 	width: 580px;
 	height: auto;
 	overflow: hidden;
 	border: 0px solid;
    float: right;
    margin-top: 40px;
    text-align:right;
}
#header #menu ul li{ 
	display: inline-block;
}
#header #menu  ul li a{
	color: #E41B17;
	text-decoration:none; 
	padding: 7px 10px;
	margin: 0px 4px;
}
#header #menu  ul li a:hover{
	background: #0a2a29;
}

/*Presentacion*/
#presentacion{
	width: 100%;
	height: auto;overflow:hidden;
	background: #064154;
}

#presentacion #centro2{
	width: 800px;
	margin: auto;
}

#presentacion #centro2 #izquierda{
	width: 290px;
	border: 0px solid;
	float: left;
}
#presentacion #centro2 #izquierda h2{
color: #fff; 
font-weight:  lighter;
}

.descripcion-pres{
	color: #04b4ae;
	text-align: left;
}

.boton{
	padding:  5px 20px;
	border:0;
}

.boton:hover{
	background: #e6e6e6;
	color: #0b651e;
}

 #presentacion #centro2 #derecha{
 	width: 490px;
 	height: auto; float: right;
 }
.imag{
	width:370px;
	height: 180px;
	border: 3px solid #088a85;
	margin: 20px 0px;
	float: right  ;
}


